@import url("bootstrap.min.css");
@import url("owl.theme.default.min.css");
@import url("owl.carousel.min.css");
@import url("animate.css");
@import url("../fonts/feather/feather.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("../fonts/Gilroy-Light.css");
@import url("../fonts/Gilroy-ExtraBold.css");
@media (max-width: 1140px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}

/* Use the variables */
body {
  background-color: #fafafa;
  color: #666666;
  font-size: 18px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: normal;
}

/* end the variables */
@-webkit-keyframes home-arrow-down {
  from {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
    filter: alpha(opacity=0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  10% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    filter: alpha(opacity=100);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  to {
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
    filter: alpha(opacity=0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

@keyframes home-arrow-down {
  from {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
    filter: alpha(opacity=0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  10% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    filter: alpha(opacity=100);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  to {
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
    filter: alpha(opacity=0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

.btn-round {
  border-radius: 100px !important;
}

.btn-primary {
  padding: 6px 30px !important;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  height: 42px;
  line-height: 28px;
  background-color: #F37038 !important;
  border-color: #F37038 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none;
}

.btn-primary:hover {
  background-color: #FA6400 !important;
  border-color: #FA6400 !important;
}

/*###########################################################################
############################## header section ###############################*/
.fixed-top {
  background-color: #ffffff !important;
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 70px;
  border-bottom: 1px solid #ececec;
}

.header .navbar.fixed-top .navbar-toggler .navbar-toggler-icon {
  background-image: url(../../assets/images/menubar-black.svg) !important;
}

.header .row-100 {
  width: 100%;
  margin: 0;
}

.header .row-100 .col-12 {
  padding: 0;
}

.header .navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  z-index: 999;
  height: 70px;
}

.header .navbar .col-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header .navbar .col-header .col-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}

.header .navbar .col-header .col-70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  max-width: 80%;
}

.header .navbar .navbar-brand {
  width: 220px;
  height: auto;
  top: 5px;
  position: relative;
}

.header .navbar .navbar-brand img {
  width: 100%;
}

.header .navbar .navbar-toggler {
  color: #666666;
  padding: 0;
  outline: 0 !important;
  border-color: transparent !important;
}

.header .navbar .navbar-toggler .navbar-toggler-icon {
  background-color: #ffffff00;
  background-image: url("../../assets/images/menubar.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 27px;
  width: 60px;
}

.header .navbar .navbar-toggler {
  position: absolute;
  top: -15px;
  right: 15px;
  display: block;
}

.header .navbar .collapse1 {
  height: 100%;
  height: 100%;
}

.header .navbar .collapse1 .navbar-nav {
  padding-right: 40px;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
  color: #666666;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 18px;
  letter-spacing: 0.12;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
  color: #1D61F6;
}

.header .navbar .collapse1 .navbar-nav .nav-item .nav-link.active {
  color: #1D61F6 !important;
}

.header .sidenav-new-menu {
  height: 100vh !important;
  min-height: 830px;
  width: 0;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  z-index: 999999;
  background-color: #ffffff;
  padding: 20px 0px !important;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: #2C2B30;
}

.header .width-menu {
  width: 100%;
  display: block !important;
  -webkit-transform: translate(0px, 0%);
          transform: translate(0px, 0%);
}

.header .closebtn {
  display: block !important;
  color: #000000;
  text-decoration: none;
}

.header .closebtn:hover {
  display: block;
  color: #000000;
  text-decoration: none;
}

.header .sidenav-new-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  display: block;
  -webkit-text-stroke: 2px #ffffff;
}

.menu-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 80px;
  position: absolute;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-row .img-logo-menu {
  width: 250px;
}

.menu-row .img-logo-menu a {
  display: block;
}

.menu-row .img-logo-menu img {
  width: 100%;
}

.menu-row .closebtn {
  position: relative !important;
  right: 0 !important;
}

.menu-row .closebtn img {
  width: 30px;
  height: 27px;
}

header .navbar .sidenav-new-menu .navbar-nav.nav-full-menu {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

header .navbar .sidenav-new-menu .navbar-nav.nav-full-menu .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .navbar .sidenav-new-menu .navbar-nav.nav-full-menu .nav-item .nav-link {
  font-size: 44px;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-align: center;
  line-height: 70px;
  font-family: "Gilroy-ExtraBold";
  overflow: hidden;
  position: relative;
}

header .navbar .sidenav-new-menu .navbar-nav.nav-full-menu .nav-item .nav-link::after {
  content: '';
  left: 0px;
  bottom: -50px;
  width: 100%;
  display: block;
  height: 8px;
  background-color: #DF9481;
  border-radius: 4px;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

header .navbar .sidenav-new-menu .navbar-nav.nav-full-menu .nav-item .nav-link:hover {
  color: #FFFFFF;
}

header .navbar .sidenav-new-menu .navbar-nav.nav-full-menu .nav-item .nav-link:hover::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.width-menu ul li:nth-child(1) {
  -webkit-animation-duration: 1s !important;
          animation-duration: 1s !important;
  -webkit-animation-name: fadeInDown !important;
          animation-name: fadeInDown !important;
}

.width-menu ul li:nth-child(2) {
  -webkit-animation-duration: 1.5s !important;
          animation-duration: 1.5s !important;
  -webkit-animation-name: fadeInDown !important;
          animation-name: fadeInDown !important;
}

.width-menu ul li:nth-child(3) {
  -webkit-animation-duration: 2s !important;
          animation-duration: 2s !important;
  -webkit-animation-name: fadeInDown !important;
          animation-name: fadeInDown !important;
}

.width-menu ul li:nth-child(4) {
  -webkit-animation-duration: 2.5s !important;
          animation-duration: 2.5s !important;
  -webkit-animation-name: fadeInDown !important;
          animation-name: fadeInDown !important;
}

.width-menu ul li:nth-child(5) {
  -webkit-animation-duration: 3s !important;
          animation-duration: 3s !important;
  -webkit-animation-name: fadeInDown !important;
          animation-name: fadeInDown !important;
}

.width-menu ul li:nth-child(6) {
  -webkit-animation-duration: 3.5s !important;
          animation-duration: 3.5s !important;
  -webkit-animation-name: fadeInDown !important;
          animation-name: fadeInDown !important;
}

.width-menu ul li:nth-child(7) {
  -webkit-animation-duration: 4s !important;
          animation-duration: 4s !important;
  -webkit-animation-name: fadeInDown !important;
          animation-name: fadeInDown !important;
}

.sidenav-new-menu .closebtn {
  display: none;
}

/*############################## Home section ###############################*/
.middle-section {
  overflow-x: hidden;
}

.middle-section .middle-inner .banner-section {
  position: relative;
  padding: 0;
  margin: 0;
}

.middle-section .middle-inner .banner-section .banner-container {
  margin: 0 auto;
  min-height: 450px;
  padding: 0;
  position: relative;
  background: #f0eff2;
  height: 100vh;
  width: 100%;
}

.middle-section .middle-inner .banner-section .banner-container .video-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.middle-section .middle-inner .banner-section .banner-container .video-background video {
  background: #f0eff2;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

.middle-section .middle-inner .banner-section .banner-caption-main {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .middle-inner .banner-section .banner-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.middle-section .middle-inner .banner-section .banner-caption .banner-title {
  margin-bottom: 60px;
}

.middle-section .middle-inner .banner-section .banner-caption .banner-title h1 {
  font-family: "Gilroy-ExtraBold";
  font-size: 70px;
  line-height: 70px;
  color: #ffffff;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.middle-section .middle-inner .banner-section .banner-caption .banner-title h1 .wrap {
  border: 0;
}

.middle-section .middle-inner .banner-section .banner-caption .banner-title h1 .wrap:first-child {
  border-right: 5px solid #DF9481;
  margin-right: 10px;
}

.middle-section .middle-inner .banner-section .banner-caption .banner-title p {
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

.middle-section .middle-inner .banner-section .banner-caption .banner-client {
  width: 100%;
  margin-bottom: 35px;
}

.middle-section .middle-inner .banner-section .banner-caption .banner-client .img-client {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: auto;
}

.middle-section .middle-inner .banner-section .banner-caption .banner-client .img-client img {
  height: 60px;
  width: auto;
}

.middle-section .middle-inner .banner-section .banner-caption .banner-client .img-client-65 img {
  height: 65px;
}

.middle-section .middle-inner .banner-section .banner-caption .banner-client .img-client-55 img {
  height: 55px;
}

.middle-section .middle-inner .banner-section .banner-caption .banner-client .owl-carousel .owl-stage {
  margin: 0 auto;
}

.middle-section .middle-inner .banner-section .banner-caption .down-scroll {
  margin-bottom: 60px;
}

.middle-section .middle-inner .banner-section .banner-caption .down-scroll a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
}

.middle-section .middle-inner .banner-section .banner-caption .down-scroll a img {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation-name: home-arrow-down;
          animation-name: home-arrow-down;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.middle-section .middle-inner .partner-section {
  padding: 100px 0;
  background-color: #2C2B30;
  overflow: hidden;
}

.middle-section .middle-inner .partner-section .partner-heading {
  margin-bottom: 65px;
  padding-left: 40px;
}

.middle-section .middle-inner .partner-section .partner-heading h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
  line-height: 86px;
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: -170px;
  top: 90px;
  -webkit-text-stroke: 1px rgba(125, 125, 125, 0.7);
  color: transparent;
}

.middle-section .middle-inner .partner-section .partner-heading h2 {
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
  font-family: "Gilroy-ExtraBold";
}

.middle-section .middle-inner .partner-section .partner-heading h2 .hl-space {
  white-space: nowrap;
}

.middle-section .middle-inner .partner-section .partner-heading h2 .full::after {
  position: absolute;
  content: '';
  width: 100%;
}

.middle-section .middle-inner .partner-section .partner-heading h2 span.heighlight {
  position: relative;
  width: 100%;
  display: inline;
  z-index: 2;
}

.middle-section .middle-inner .partner-section .partner-heading h2 span.heighlight::after {
  position: absolute;
  content: '';
  width: 102%;
  height: 20px;
  background-color: #DF9481;
  border-radius: 11px;
  bottom: 4px;
  left: -3px;
  display: inline-block;
  z-index: -1;
}

.middle-section .middle-inner .partner-section .partner-heading h2 .lg-right:after {
  width: 112% !important;
}

.middle-section .middle-inner .partner-section .partner-heading p {
  color: #ffffff;
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
}

.middle-section .middle-inner .partner-section .partner-heading-bottom {
  margin-top: 10px;
}

.middle-section .middle-inner .partner-section .partner-heading-bottom h2 {
  font-size: 44px;
  line-height: 60px;
  color: #ffffff;
  font-family: "Gilroy-ExtraBold";
}

.middle-section .middle-inner .partner-section .partner-heading-bottom h2 span.heighlight {
  position: relative;
  width: 100%;
  display: inline;
  z-index: 1;
}

.middle-section .middle-inner .partner-section .partner-heading-bottom h2 span.heighlight::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 20px;
  background-color: #DF9481;
  border-radius: 11px;
  bottom: 4px;
  left: 0px;
  display: inline-block;
  z-index: -1;
}

.middle-section .middle-inner .partner-section .partner-heading-bottom p {
  color: #ffffff;
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
}

.middle-section .middle-inner .partner-section .img-partner {
  position: relative;
}

.middle-section .middle-inner .partner-section .ring {
  position: relative;
}

.middle-section .middle-inner .partner-section .ring::after {
  content: '';
  background-image: url("../images/ring.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  right: -15px;
  top: -218px;
  height: 157px;
  width: 157px;
  display: block;
}

.middle-section .middle-inner .partner-section .ring::before {
  content: '';
  background-image: url("../images/ring.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  right: -15px;
  top: -135px;
  height: 157px;
  width: 157px;
  display: block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.middle-section .middle-inner .partner-section .mt-100 {
  top: 100px;
}

.middle-section .middle-inner .partner-section .mt--100 {
  top: -100px;
}

.middle-section .middle-inner .partner-section .desktop-view {
  display: block;
}

.middle-section .middle-inner .partner-section .mobile-view {
  display: none;
}

.middle-section .middle-inner .case-study-section {
  padding: 60px 0;
  background-color: #f2f2f2;
}

.middle-section .middle-inner .case-study-section .squre {
  position: relative;
}

.middle-section .middle-inner .case-study-section .squre::after {
  content: '';
  background-image: url("../images/squre.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  right: 20px;
  top: -125px;
  height: 133px;
  width: 91px;
  display: block;
}

.middle-section .middle-inner .case-study-section .case-study-content {
  position: relative;
}

.middle-section .middle-inner .case-study-section .case-study-content h1 {
  font-family: "Bebas Neue", cursive;
  color: transparent;
  font-size: 115px;
  line-height: 120px;
  -webkit-text-stroke: 1px rgba(125, 125, 125, 0.7);
  position: relative;
  top: 50px;
}

.middle-section .middle-inner .case-study-section .case-study-content h2 {
  font-family: "Gilroy-ExtraBold";
  color: #2C2B30;
  font-size: 40px;
  line-height: 35px;
  z-index: 1;
  position: relative;
  margin-bottom: 35px;
}

.middle-section .middle-inner .case-study-section .case-study-content .content h3 {
  font-size: 24px;
  line-height: 35px;
  color: #2C2B30;
}

.middle-section .middle-inner .case-study-section .case-study-content .content p {
  font-size: 16px;
  line-height: 28px;
  color: #4F4F51;
}

.middle-section .middle-inner .case-study-section .case-study-content .content ul {
  margin: 0;
  padding: 0 0 0 20px;
  list-style: circle;
}

.middle-section .middle-inner .case-study-section .case-study-content .content ul li {
  font-size: 16px;
  line-height: 28px;
  color: #4F4F51;
}

.middle-section .middle-inner .case-study-section .mockup-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.middle-section .middle-inner .case-study-section .mockup-box img {
  position: absolute;
  top: 0px;
}

.middle-section .middle-inner .our-approch-section {
  background-color: #ffffff;
  padding: 250px 0 200px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .middle-inner .our-approch-section .our-approch-heading {
  margin-bottom: 81px;
  position: relative;
}

.middle-section .middle-inner .our-approch-section .our-approch-heading h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
  line-height: 86px;
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: -230px;
  top: 90px;
  -webkit-text-stroke: 1px rgba(125, 125, 125, 0.7);
  color: transparent;
}

.middle-section .middle-inner .our-approch-section .our-approch-heading h3 {
  color: #2C2B30;
  font-size: 30px;
  line-height: 50px;
  font-weight: 500;
}

.middle-section .middle-inner .our-approch-section .approch-content {
  padding-top: 40px;
  margin-bottom: 30px;
  position: relative;
}

.middle-section .middle-inner .our-approch-section .approch-content::after {
  position: absolute;
  content: '';
  width: 103px;
  height: 8px;
  background-color: #DF9481;
  border-radius: 0px;
  top: 4px;
  left: 0;
  display: block;
  z-index: 0;
}

.middle-section .middle-inner .our-approch-section .approch-content h2 {
  color: #2C2B30;
  font-size: 32px;
  line-height: 45px;
  font-weight: 700;
}

.middle-section .middle-inner .our-approch-section .ring-2 {
  position: relative;
}

.middle-section .middle-inner .our-approch-section .ring-2::after {
  content: '';
  position: absolute;
  background-image: url("../images/ring-2.svg");
  background-repeat: no-repeat;
  left: 20px;
  top: -160px;
  height: 157px;
  width: 157px;
  display: block;
}

.middle-section .middle-inner .casestudy-dark-section {
  padding: 60px 0 100px 0;
  background-color: #2C2B30;
}

.middle-section .middle-inner .casestudy-dark-section .case-study-content {
  position: relative;
}

.middle-section .middle-inner .casestudy-dark-section .case-study-content h1 {
  font-family: "Bebas Neue", cursive;
  color: transparent;
  font-size: 115px;
  line-height: 120px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.7);
  position: relative;
  top: 50px;
}

.middle-section .middle-inner .casestudy-dark-section .case-study-content h2 {
  font-family: "Gilroy-ExtraBold";
  color: #ffffff;
  font-size: 50px;
  line-height: 35px;
  z-index: 1;
  position: relative;
  margin-bottom: 35px;
}

.middle-section .middle-inner .casestudy-dark-section .case-study-content .content h3 {
  font-size: 24px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 500;
}

.middle-section .middle-inner .casestudy-dark-section .case-study-content .content p {
  font-size: 16px;
  line-height: 28px;
  color: #d6d6d6;
}

.middle-section .middle-inner .casestudy-dark-section .case-study-content .content ul {
  margin: 0;
  padding: 0 0 0 20px;
  list-style: circle;
}

.middle-section .middle-inner .casestudy-dark-section .case-study-content .content ul li {
  font-size: 16px;
  line-height: 28px;
  color: #d6d6d6;
}

.middle-section .middle-inner .casestudy-dark-section .mockup-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  z-index: 99;
  height: 100%;
}

.middle-section .middle-inner .casestudy-dark-section .mockup-box img {
  position: absolute;
  top: auto;
  bottom: -177px;
  left: 0;
  min-width: 850px;
  height: 564px;
  z-index: 99;
}

.middle-section .middle-inner .casestudy-dark-section .circle-lg {
  position: relative;
}

.middle-section .middle-inner .casestudy-dark-section .circle-lg::after {
  content: '';
  background-image: url("../images/bg-circle-lg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  right: 0px;
  top: -60px;
  height: 600px;
  width: 779px;
  display: block;
  z-index: 0;
}

.middle-section .middle-inner .casestudy-dark-section .circle-sm {
  position: relative;
}

.middle-section .middle-inner .casestudy-dark-section .circle-sm::before {
  background-image: url("../images/bg-circle-lg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  content: '';
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 0px;
  bottom: -100px;
  height: 506px;
  width: 634px;
  display: block;
  z-index: 0;
}

.middle-section .middle-inner .our-capability-section {
  padding: 230px 0;
  min-height: 100vh;
  background-color: #FAEFE4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .middle-inner .our-capability-section .our-capability-inner {
  height: 100%;
  width: 100%;
}

.middle-section .middle-inner .our-capability-section .our-capibilty-content {
  position: relative;
  padding-left: 40px;
}

.middle-section .middle-inner .our-capability-section .our-capibilty-content h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
  line-height: 86px;
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: -210px;
  top: 40px;
  -webkit-text-stroke: 1px rgba(125, 125, 125, 0.7);
  color: transparent;
}

.middle-section .middle-inner .our-capability-section .our-capibilty-content h3 {
  font-size: 22px;
  line-height: 63px;
  color: #2C2B30;
  text-transform: uppercase;
}

.middle-section .middle-inner .our-capability-section .our-capibilty-content p {
  font-size: 48px;
  line-height: 63px;
  font-family: "Gilroy-ExtraBold";
  color: #2C2B30;
}

.middle-section .middle-inner .our-capability-section .our-capibilty-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  min-height: 400px;
  padding: 0 40px;
}

.middle-section .middle-inner .our-capability-section .our-capibilty-info .accordian {
  width: 100%;
}

.middle-section .middle-inner .our-capability-section .our-capibilty-info .accordian .card {
  background-color: transparent;
  border: 0;
}

.middle-section .middle-inner .our-capability-section .our-capibilty-info .accordian .card-header {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.middle-section .middle-inner .our-capability-section .our-capibilty-info .accordian .card-header h5 .btn {
  color: #2C2B30;
  font-size: 30px;
  line-height: 36px;
  font-family: "Gilroy-ExtraBold";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  z-index: 9;
}

.middle-section .middle-inner .our-capability-section .our-capibilty-info .accordian .card-header h5 .btn::after {
  position: absolute;
  right: 5px;
  top: 15px;
  content: "\e996";
  font-family: 'Feather' !important;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.middle-section .middle-inner .our-capability-section .our-capibilty-info .accordian .card-header h5 .btn.collapsed::after {
  content: "\e9b1";
}

.middle-section .middle-inner .our-capability-section .our-capibilty-info .accordian .card-body {
  padding: 10px 12px;
  font-size: 16px;
}

.middle-section .middle-inner .our-capability-section .our-capibilty-info .accordian .card-body p {
  margin-bottom: 0;
}

.middle-section .middle-inner .our-capability-section .ring-orange {
  position: relative;
}

.middle-section .middle-inner .our-capability-section .ring-orange::before {
  content: '';
  position: absolute;
  background-image: url("../images/ring-orange.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  left: -50px;
  bottom: -260px;
  height: 225px;
  width: 130px;
  display: block;
  z-index: 9;
}

.middle-section .middle-inner .casestudy-white-section {
  padding: 60px 0;
  background-color: #ffffff;
}

.middle-section .middle-inner .casestudy-white-section .squre {
  position: relative;
}

.middle-section .middle-inner .casestudy-white-section .squre::after {
  content: url("../images/squre.svg");
  position: absolute;
  right: 20px;
  top: -120px;
  height: 133;
  width: 91px;
  display: block;
}

.middle-section .middle-inner .casestudy-white-section .case-study-content {
  position: relative;
}

.middle-section .middle-inner .casestudy-white-section .case-study-content h1 {
  font-family: "Bebas Neue", cursive;
  color: transparent;
  font-size: 115px;
  line-height: 120px;
  -webkit-text-stroke: 1px rgba(125, 125, 125, 0.7);
  position: relative;
  top: 50px;
}

.middle-section .middle-inner .casestudy-white-section .case-study-content h2 {
  font-family: "Gilroy-ExtraBold";
  color: #2C2B30;
  font-size: 40px;
  line-height: 35px;
  z-index: 1;
  position: relative;
  margin-bottom: 35px;
}

.middle-section .middle-inner .casestudy-white-section .case-study-content .content h3 {
  font-size: 24px;
  line-height: 35px;
  color: #2C2B30;
  font-weight: 500;
}

.middle-section .middle-inner .casestudy-white-section .case-study-content .content p {
  font-size: 16px;
  line-height: 28px;
  color: #4F4F51;
}

.middle-section .middle-inner .casestudy-white-section .case-study-content .content ul {
  margin: 0;
  padding: 0 0 0 20px;
  list-style: circle;
}

.middle-section .middle-inner .casestudy-white-section .case-study-content .content ul li {
  font-size: 16px;
  line-height: 28px;
  color: #4F4F51;
}

.middle-section .middle-inner .casestudy-white-section .mockup-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.middle-section .middle-inner .casestudy-white-section .mockup-box img {
  position: unset;
  max-width: 382px;
}

.middle-section .middle-inner .brand-section {
  padding: 60px 0;
  background-color: #ffffff;
  -webkit-box-shadow: 12px 0px 18px rgba(0, 0, 0, 0.05);
          box-shadow: 12px 0px 18px rgba(0, 0, 0, 0.05);
}

.middle-section .middle-inner .brand-section .brand-content {
  margin-bottom: 100px;
  position: relative;
}

.middle-section .middle-inner .brand-section .brand-content h1 {
  font-family: "Bebas Neue", cursive;
  color: transparent;
  font-size: 115px;
  line-height: 120px;
  -webkit-text-stroke: 1px rgba(125, 125, 125, 0.7);
  position: relative;
  top: 50px;
}

.middle-section .middle-inner .brand-section .brand-content h2 {
  font-family: "Gilroy-ExtraBold";
  color: #2C2B30;
  font-size: 50px;
  line-height: 35px;
  z-index: 1;
  position: relative;
  margin-bottom: 35px;
}

.middle-section .middle-inner .brand-section .band-content h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  color: #2C2B30;
  text-decoration: underline;
  -webkit-text-decoration-color: #DF9481;
          text-decoration-color: #DF9481;
}

.middle-section .middle-inner .brand-section .band-content .brand-box {
  height: 120px;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.middle-section .middle-inner .brand-section .band-content .brand-box img {
  max-width: 100%;
  height: 60px;
}

.middle-section .middle-inner .brand-section .band-content .brand-box .img-common {
  height: 50px;
}

.middle-section .middle-inner .brand-section .band-content .brand-box .img-google {
  height: 38px;
}

.middle-section .middle-inner .brand-section .band-content .brand-box .img-amazon {
  height: 35px;
}

.middle-section .middle-inner .brand-section .band-content .brand-box .img-klaviyo {
  height: 52px;
}

.middle-section .middle-inner .brand-section .band-content .brand-box .img-facebook {
  height: 45px;
}

.middle-section .middle-inner .brand-section .band-content .brand-box .img-chat {
  height: 55px;
}

.middle-section .middle-inner .brand-section .band-content .brand-box .img-shopify {
  height: 60px;
}

.middle-section .middle-inner .brand-section .band-content .brand-box .img-rolex {
  height: 55px;
}

.middle-section .middle-inner .brand-section .band-content .brand-box .img-ford {
  height: 55px;
}

.middle-section .middle-inner .brand-section .band-content .brand-box .img-coach {
  height: 40px;
}

.middle-section .middle-inner .brand-section .band-content .brand-box .img-chopard {
  height: 45px;
}

.middle-section .middle-inner .brand-section .band-content .brand-box .img-meetup {
  height: 70px;
}

.middle-section .middle-inner .brand-section .band-content .brand-box .img-adidas {
  height: 52px;
}

.middle-section .middle-inner .brand-section .band-content .brand-box .img-90 {
  height: 90px;
}

.middle-section .middle-inner .brand-section .band-content .brand-box .img-100 {
  height: 100px;
}

.middle-section .middle-inner .brand-section .band-content .brand-box .img-120 {
  height: 120px;
}

.middle-section .middle-inner .brand-section .band-content .brand-box:hover {
  background-color: #FAFAFA;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.middle-section .middle-inner .brand-section .ring-orange {
  position: relative;
}

.middle-section .middle-inner .brand-section .ring-orange::after {
  content: '';
  position: absolute;
  background-image: url("../images/ring-orange.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  right: -50px;
  top: -40px;
  height: 225px;
  width: 130px;
  display: block;
}

.middle-section .middle-inner .our-growth-section {
  padding: 160px 0;
  background-color: #F2F2F2;
  background-image: url("../images/bg-growth-2.png");
  background-position: -5%;
  background-repeat: no-repeat;
  background-size: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .middle-inner .our-growth-section .our-growth-inner {
  height: 100%;
  width: 100%;
}

.middle-section .middle-inner .our-growth-section .growth-content {
  background-color: #fafafa;
  width: 100%;
  max-width: 100%;
  padding: 95px 80px 70px 80px;
  -webkit-box-shadow: 10px 10px 15px rgba(214, 214, 214, 0.3);
          box-shadow: 10px 10px 15px rgba(214, 214, 214, 0.3);
}

.middle-section .middle-inner .our-growth-section .growth-content .heading-growth h1 {
  font-size: 42px;
  line-height: 63px;
  color: #2C2B30;
  font-weight: 600;
}

.middle-section .middle-inner .our-growth-section .growth-content .heading-growth h1 span {
  color: #F37038;
}

.middle-section .middle-inner .our-growth-section .growth-content .growth-tab-section {
  padding: 30px 0 0 0;
  min-height: 260px;
}

.middle-section .middle-inner .our-growth-section .growth-content .growth-tab-section .nav-tabs {
  display: block;
  border: 0;
}

.middle-section .middle-inner .our-growth-section .growth-content .growth-tab-section .nav-tabs li a {
  font-size: 14px;
  line-height: 41px;
  color: #2C2B30;
  text-decoration: none;
}

.middle-section .middle-inner .our-growth-section .growth-content .growth-tab-section .nav-tabs li a.active {
  color: #2C2B30;
  font-weight: 700;
}

.middle-section .middle-inner .our-growth-section .growth-content .growth-tab-section .tab-content p {
  font-size: 14px;
  color: #2C2B30;
  line-height: 20px;
}

.middle-section .middle-inner .our-growth-section .round-corner {
  position: relative;
}

.middle-section .middle-inner .our-growth-section .round-corner::after {
  content: url("../images/icon/round.svg");
  position: absolute;
  right: -20px;
  top: -20px;
  height: 60px;
  width: 60px;
  display: block;
}

.middle-section .middle-inner .banner-inner-section {
  padding: 160px 0;
  height: 600px;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-size: cover;
  background-position: center center;
}

.middle-section .middle-inner .banner-inner-section::before {
  content: '';
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .middle-inner .banner-inner-section .banner-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  position: relative;
}

.middle-section .middle-inner .banner-inner-section .banner-heading h2 {
  font-size: 55px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0;
  margin-bottom: 20px;
  font-family: "Gilroy-ExtraBold";
}

.middle-section .middle-inner .banner-inner-section .banner-heading p {
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 55px;
}

.middle-section .middle-inner .bg-career {
  background-image: url("../images/career-bottom.jpg");
}

.middle-section .middle-inner .bg-career-detail.banner-inner-section {
  background-image: url("../images/bg-career-detail.png");
  padding: 70px 35px;
}

.middle-section .middle-inner .bg-contact {
  background-image: url("../images/contact-bg.png");
}

.middle-section .middle-inner .current-positon-section {
  padding: 75px 0 120px 0;
  background-color: #ffffff;
}

.middle-section .middle-inner .current-positon-section .heading-inner {
  margin-bottom: 60px;
}

.middle-section .middle-inner .current-positon-section .heading-inner h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
  line-height: 86px;
  position: absolute;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  left: -360px;
  top: 220px;
  -webkit-text-stroke: 1px rgba(125, 125, 125, 0.7);
  color: transparent;
}

.middle-section .middle-inner .current-positon-section .heading-inner h2 {
  font-size: 22px;
  color: #2C2B30;
  letter-spacing: -0.29px;
  line-height: 63px;
}

.middle-section .middle-inner .current-positon-section .job-list {
  padding: 30px 0px;
  -webkit-box-shadow: 0 1px 0 0 rgba(214, 214, 214, 0.5);
          box-shadow: 0 1px 0 0 rgba(214, 214, 214, 0.5);
  margin-bottom: 8px;
}

.middle-section .middle-inner .current-positon-section .job-list h3 {
  font-size: 30px;
  color: #181818;
  letter-spacing: 0;
  line-height: 40px;
  font-family: "Gilroy-ExtraBold";
}

.middle-section .middle-inner .current-positon-section .job-list h3 a {
  color: #181818;
  text-decoration: none;
}

.middle-section .middle-inner .current-positon-section .job-list .job-info {
  font-size: 24px;
  color: #7D7D7D;
  letter-spacing: 0;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-section .middle-inner .current-positon-section .job-list .job-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.middle-section .middle-inner .current-positon-section .job-list .job-info ul li {
  display: inline-block;
  padding: 0 20px;
  border-left: 1px solid #BFBFBF;
  font-size: 24px;
  color: #7D7D7D;
  letter-spacing: 0;
  line-height: 40px;
}

.middle-section .middle-inner .current-positon-section .job-list .job-info ul li:first-child {
  padding-left: 0;
  border-left: 0px solid #BFBFBF;
}

.middle-section .middle-inner .current-positon-section .job-list .job-info .btn-round {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  background: rgba(250, 239, 228, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .middle-inner .current-positon-section .job-list .job-info .btn-round i {
  color: #DF9481;
  font-size: 24px;
}

.middle-section .middle-inner .why-mediafy-section {
  padding: 35px 0 115px 0;
  background-color: #F2F2F2;
}

.middle-section .middle-inner .why-mediafy-section .mediafy-content {
  position: relative;
}

.middle-section .middle-inner .why-mediafy-section .mediafy-content h1 {
  font-family: "Bebas Neue", cursive;
  color: transparent;
  font-size: 115px;
  line-height: 120px;
  -webkit-text-stroke: 1px rgba(125, 125, 125, 0.7);
  position: relative;
  top: 50px;
}

.middle-section .middle-inner .why-mediafy-section .mediafy-content h2 {
  font-family: "Gilroy-ExtraBold";
  color: #2C2B30;
  font-size: 50px;
  line-height: 35px;
  z-index: 1;
  position: relative;
  margin-bottom: 35px;
}

.middle-section .middle-inner .why-mediafy-section .mediafy-content-info {
  padding: 40px 0 0 0;
}

.middle-section .middle-inner .why-mediafy-section .mediafy-content-info p {
  font-size: 30px;
  color: #7D7D7D;
  letter-spacing: 0;
  line-height: 53px;
}

.middle-section .middle-inner .ourwork-section {
  background-color: #ffffff;
  position: relative;
}

.middle-section .middle-inner .ourwork-section .img-ourwork img {
  position: relative;
  z-index: 2;
}

.middle-section .middle-inner .ourwork-section .ring {
  position: relative;
}

.middle-section .middle-inner .ourwork-section .ring::after {
  content: '';
  background-image: url("../images/ring.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: 0px;
  top: -40px;
  height: 157px;
  width: 157px;
  display: block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.middle-section .middle-inner .ourwork-section .ring::before {
  content: '';
  background-image: url("../images/ring.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: 0px;
  top: -120px;
  height: 157px;
  width: 157px;
  z-index: 3;
  display: block;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.middle-section .middle-inner .ourwork-section .ourwork-content {
  padding: 85px 0;
}

.middle-section .middle-inner .ourwork-section .ourwork-content h3 {
  font-size: 34px;
  line-height: 41px;
  color: #2C2B30;
  letter-spacing: 0;
  font-family: "Gilroy-ExtraBold";
  margin-bottom: 30px;
}

.middle-section .middle-inner .ourwork-section .ourwork-content .heighlight {
  position: relative;
  width: 100%;
  display: inline;
  line-height: 40px;
  z-index: 1;
}

.middle-section .middle-inner .ourwork-section .ourwork-content .heighlight::after {
  position: absolute;
  content: '';
  width: 107%;
  height: 10px;
  background-color: #DF9481;
  border-radius: 11px;
  bottom: 0px;
  left: -4px;
  display: inline-block;
  z-index: -1;
}

.middle-section .middle-inner .ourwork-section .ourwork-content .heighlight.lg::after {
  width: 112%;
  left: -4px;
}

.middle-section .middle-inner .ourwork-section .ourwork-content p {
  font-size: 18px;
  color: #7D7D7D;
  letter-spacing: 0;
  line-height: 30px;
}

.middle-section .middle-inner .contact-form-section {
  padding: 55px 0;
  background-color: #ffffff;
}

.middle-section .middle-inner .contact-form-section .form-content label {
  font-size: 20px;
  color: #7D7D7D;
  letter-spacing: 0;
  line-height: 25.6px;
}

.middle-section .middle-inner .contact-form-section .form-content .form-control {
  font-size: 22px;
  color: #222222;
  letter-spacing: 0;
  line-height: 32px;
  background: #FFFFFF;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 0 0 #DF9481;
          box-shadow: 0 1px 0 0 #DF9481;
  height: 70px;
  caret-color: #DF9481;
  font-weight: 600;
}

.middle-section .middle-inner .contact-form-section .form-content textarea.form-control {
  height: 120px;
}

.middle-section .middle-inner .contact-form-section .send-message {
  padding: 60px 0 0 0;
}

.middle-section .middle-inner .contact-form-section .send-message .btn-send {
  height: 62px;
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 50px;
  font-weight: 300;
  max-width: 374px;
  width: 100%;
}

.middle-section .middle-inner .contact-form-section .send-message .btn-send i {
  position: relative;
  top: 3px;
  margin-left: 20px;
}

.middle-section .middle-inner .map-section {
  position: relative;
}

.middle-section .middle-inner .map-section .feature {
  overflow: hidden;
}

.middle-section .middle-inner .map-section .feature iframe {
  width: 100%;
  min-height: 690px;
  border: 0;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(99%);
  /* Chrome 19+ & Safari 6+ */
  -webkit-backface-visibility: hidden;
  /* Fix for transition flickering */
}

.middle-section .middle-inner .map-section .map-pin {
  background: #FFFFFF;
  -webkit-box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, 0.24);
  padding: 24px 30px;
  max-width: 230px;
  width: 100%;
  height: 130px;
  position: absolute;
  margin: 0 auto;
  top: 25%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  border-bottom: 10px solid #FAEFE4;
}

.middle-section .middle-inner .map-section .map-pin h3 {
  font-size: 14px;
  color: #2C2B30;
  letter-spacing: 0;
  text-align: center;
  font-weight: 600;
}

.middle-section .middle-inner .map-section .map-pin p {
  font-size: 12px;
  color: #7D7D7D;
  letter-spacing: 0;
  text-align: center;
}

.middle-section .middle-inner .map-section .map-pin img {
  margin: 0 auto;
  display: block;
  position: relative;
  bottom: 1   0px;
}

.middle-section .middle-inner .career-detail {
  background-color: #FAFAFA;
  border-bottom: 1px solid rgba(191, 191, 191, 0.3);
}

.middle-section .middle-inner .career-detail .job-info-deatil {
  padding: 30px 0;
}

.middle-section .middle-inner .career-detail .job-info-deatil ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-section .middle-inner .career-detail .job-info-deatil ul li {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  border-right: 1px solid #BFBFBF;
}

.middle-section .middle-inner .career-detail .job-info-deatil ul li:last-child {
  border-right: 0;
}

.middle-section .middle-inner .talent-requird {
  padding: 80px 0;
  background-color: #FFFFFF;
}

.middle-section .middle-inner .talent-requird .talent-content h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
  line-height: 86px;
  position: absolute;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  left: -180px;
  top: 90px;
  -webkit-text-stroke: 1px rgba(125, 125, 125, 0.7);
  color: transparent;
}

.middle-section .middle-inner .talent-requird .talent-content p {
  font-size: 18px;
  color: #7D7D7D;
  line-height: 28px;
}

.middle-section .middle-inner .talent-requird .talent-content h3 {
  font-family: "Gilroy-ExtraBold";
  font-size: 34px;
  color: #2C2B30;
  letter-spacing: 0;
  margin-bottom: 40px;
}

.middle-section .middle-inner .talent-requird .talent-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 50px;
}

.middle-section .middle-inner .talent-requird .talent-content ul li {
  font-size: 18px;
  color: #7D7D7D;
  letter-spacing: 0;
  line-height: 50px;
  position: relative;
  padding-left: 50px;
}

.middle-section .middle-inner .talent-requird .talent-content ul li::before {
  content: "\e912";
  position: absolute;
  left: 0;
  top: 10px;
  font-family: 'Feather' !important;
  speak: none;
  background-color: rgba(239, 245, 247, 0.5);
  height: 32px;
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
}

.middle-section .middle-inner .apply-form-section {
  padding: 55px 0;
  background-color: #ffffff;
}

.middle-section .middle-inner .apply-form-section .apply-form-content {
  padding: 80px 100px;
  background-color: #F2F2F2;
}

.middle-section .middle-inner .apply-form-section .form-content label {
  font-size: 20px;
  color: #7D7D7D;
  letter-spacing: 0;
  line-height: 25.6px;
}

.middle-section .middle-inner .apply-form-section .form-content .form-control {
  font-size: 22px;
  color: #222222;
  letter-spacing: 0;
  line-height: 32px;
  background: #F2F2F2;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 0 0 #DF9481;
          box-shadow: 0 1px 0 0 #DF9481;
  height: 70px;
  caret-color: #DF9481;
  font-weight: 600;
}

.middle-section .middle-inner .apply-form-section .form-content textarea.form-control {
  height: 120px;
}

.middle-section .middle-inner .apply-form-section .form-content .file-upload-label label {
  -webkit-box-shadow: 0 1px 0 0 #DF9481;
          box-shadow: 0 1px 0 0 #DF9481;
  height: 70px;
  display: block;
  line-height: 70px;
  padding-left: 30px;
  position: relative;
}

.middle-section .middle-inner .apply-form-section .form-content .file-upload-label label::before {
  content: "\e9a3";
  position: absolute;
  left: 0;
  top: 5px;
  font-family: 'Feather' !important;
  speak: none;
  position: absolute;
}

.middle-section .middle-inner .apply-form-section .form-content .file-upload-label input {
  display: none;
}

.middle-section .middle-inner .apply-form-section .send-message {
  padding: 60px 0 0 0;
}

.middle-section .middle-inner .apply-form-section .send-message .btn-send {
  height: 62px;
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 50px;
  font-weight: 300;
  max-width: 374px;
  width: 100%;
}

.middle-section .middle-inner .apply-form-section .send-message .btn-send i {
  position: relative;
  top: 3px;
  margin-left: 20px;
}

.ring-orange-footer {
  position: relative;
}

.ring-orange-footer::before {
  content: '';
  position: absolute;
  background-image: url("../images/ring-orange.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  left: -60px;
  bottom: 260px;
  height: 225px;
  width: 130px;
  display: block;
  z-index: 9;
}

.footer-home.footer-section {
  overflow: hidden;
  background-color: #2C2B30 !important;
  padding-top: 300px;
}

.footer-home.footer-section .footer-inner {
  overflow: hidden;
}

.footer-home.footer-section .circle-lg {
  position: relative;
}

.footer-home.footer-section .circle-lg::after {
  content: '';
  background-image: url("../images/bg-circle-lg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  right: 0px;
  top: -200px;
  height: 600px;
  width: 779px;
  display: block;
  z-index: 0;
  opacity: 0.4;
}

.footer-home.footer-section .circle-sm {
  position: relative;
}

.footer-home.footer-section .circle-sm::before {
  background-image: url("../images/bg-circle-lg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  content: '';
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 0px;
  bottom: 0px;
  height: 506px;
  width: 634px;
  display: block;
  z-index: 0;
  opacity: 0.3;
}

.footer-home.footer-section .wanto-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 124px;
}

.footer-home.footer-section .wanto-work h2 {
  font-family: "Gilroy-ExtraBold";
  font-size: 50px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 30px;
}

.footer-home.footer-section .wanto-work .send-message .btn-send {
  height: 62px;
  font-size: 22px;
  background: rgba(0, 0, 0, 0.04) !important;
  border: 1px solid #3A3A3B !important;
  letter-spacing: 0;
  line-height: 50px;
  font-weight: 300;
  max-width: 374px;
  width: 100%;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 99;
  position: relative;
}

.footer-home.footer-section .wanto-work .send-message .btn-send i {
  position: relative;
  top: 3px;
  margin-left: 20px;
}

.footer-home.footer-section .wanto-work .send-message .btn-send:hover {
  background: rgba(0, 0, 0, 0.6) !important;
  border: 1px solid #3A3A3B !important;
}

.footer-home.footer-section .footer-content {
  position: relative;
  z-index: 99;
}

.footer-home.footer-section .footer-content ul li {
  color: #ffffff !important;
}

.footer-home.footer-section .footer-content ul li a {
  color: rgba(214, 214, 214, 0.8) !important;
}

.footer-home.footer-section .footer-content ul li a:hover {
  color: #ffffff !important;
  text-decoration: none;
}

.footer-home.footer-section .copyright {
  border-top: 1px solid rgba(114, 114, 114, 0.2);
  padding: 30px 0 45px;
}

.footer-home.footer-section .copyright p {
  color: rgba(214, 214, 214, 0.8) !important;
}

.footer-home.footer-section .copyright .quick-links ul li a {
  color: rgba(214, 214, 214, 0.8) !important;
}

.footer-home.footer-section .copyright .quick-links ul li a:hover {
  color: #ffffff !important;
  text-decoration: none;
}

.footer-section {
  background-color: #ffffff;
  padding: 100px 0 0 0;
}

.footer-section .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: right;
  margin-bottom: 50px;
}

.footer-section .footer-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section .footer-content ul li {
  font-size: 18px;
  color: #2C2B30;
  letter-spacing: 1px;
  text-align: right;
  line-height: 40px;
  font-weight: 600;
}

.footer-section .footer-content ul li a {
  font-size: 18px;
  color: #7D7D7D;
  letter-spacing: 1px;
  text-align: right;
  line-height: 40px;
  font-weight: 400;
  text-decoration: none;
}

.footer-section .footer-content ul li a:hover {
  color: #000000 !important;
  text-decoration: none;
}

.footer-section .copyright {
  border-top: 1px solid rgba(114, 114, 114, 0.2);
  padding: 30px 0 45px;
}

.footer-section .copyright p {
  margin-bottom: 0;
  font-size: 18px;
  color: #2C2B30;
  letter-spacing: 0;
  text-align: left;
  line-height: 26px;
}

.footer-section .copyright .quick-links {
  text-align: right;
}

.footer-section .copyright .quick-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section .copyright .quick-links ul li {
  display: inline-block;
  padding: 0 30px;
}

.footer-section .copyright .quick-links ul li a {
  font-size: 18px;
  color: #2C2B30;
  letter-spacing: 0;
  text-align: center;
  line-height: 26px;
}

.footer-section .copyright .quick-links ul li a:hover {
  color: #7D7D7D !important;
  text-decoration: none;
}

.footer-section .copyright .quick-links ul li:last-child {
  padding-right: 0;
}

/*###########################################################################
############################## media query started ###############################
######################################################################################*/
@media (max-width: 320px) {
  .middle-section .middle-inner .banner-section .banner-caption .banner-client {
    margin-bottom: 20px !important;
  }
  .middle-section .middle-inner .banner-section .banner-caption .banner-title {
    margin-bottom: 40px !important;
  }
  header .navbar .sidenav-new-menu .navbar-nav.nav-full-menu .nav-item .nav-link {
    line-height: 58px;
  }
  .middle-section .middle-inner .banner-section .banner-caption .banner-title h1 {
    font-size: 30px !important;
    line-height: 42px !important;
    margin-bottom: 10px !important;
  }
  .footer-home.footer-section .wanto-work .send-message .btn-send {
    font-size: 18px;
    padding: 6px 15px !important;
  }
  .footer-home.footer-section .wanto-work {
    padding: 0 20px !important;
  }
  .middle-section .middle-inner .our-growth-section .growth-content .heading-growth h1 {
    font-size: 18px !important;
  }
  .middle-section .middle-inner .casestudy-white-section .case-study-content h2 {
    font-size: 27px !important;
  }
}

.logo-white-mobile {
  display: none;
}

.logo-white {
  display: block;
}

@media (max-width: 767px) {
  .logo-white {
    display: none;
  }
  .logo-white-mobile {
    display: block;
    width: auto !important;
    max-width: 70px;
    top: 0px;
    position: relative;
  }
  .header .navbar {
    height: 80px;
  }
  .header .fixed-top.navbar {
    height: 60px;
  }
  .header .fixed-top.navbar .navbar-toggler {
    top: -25px;
  }
  .fixed-top.navbar .logo-white-mobile {
    width: 56px;
    top: -15px;
  }
  .header .navbar {
    padding: 8px 0;
    z-index: 999;
  }
  .header .navbar .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    max-width: 70%;
  }
  .header .navbar .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .header .navbar .row-100 {
    width: 100%;
    margin: 0;
  }
  .header .navbar .row-100 .col-12 {
    padding: 0 15px;
  }
  .header .navbar .row-100 .col-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .header .navbar .row-100 .col-header .col-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    max-width: 20%;
  }
  .header .navbar .row-100 .col-header .col-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
    max-width: 80%;
  }
  .header .navbar .row-100 .navbar-brand {
    width: 160px;
    height: 40px;
  }
  .header .navbar .row-100 .navbar-brand img {
    width: 100%;
  }
  .header .navbar .navbar-toggler .navbar-toggler-icon {
    width: 40px;
    height: 45px;
  }
  .header .navbar .collapse1 {
    padding: 10px 0;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    color: #666666;
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
    white-space: nowrap;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link:hover {
    color: #1D61F6;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 830px;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #ffffff;
    padding: 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 70%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #000000;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #000000;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    display: block;
    -webkit-text-stroke: 2px #ffffff;
  }
  .menu-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px 30px;
    position: absolute;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-row .img-logo-menu {
    width: 60px;
  }
  .menu-row .img-logo-menu a {
    display: block;
  }
  .menu-row .img-logo-menu img {
    width: 70px;
    height: auto;
  }
  .menu-row .closebtn {
    position: relative !important;
    right: 0 !important;
    top: -8px !important;
  }
  .menu-row .closebtn img {
    width: 30px;
    height: 27px;
  }
  .header .navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url(../../assets/images/menu-mobile.svg) !important;
  }
  .header .navbar.fixed-top .navbar-toggler .navbar-toggler-icon {
    background-image: url(../../assets/images/menu-mobile-black.svg) !important;
  }
  .middle-section .middle-inner .banner-section .banner-caption .banner-title {
    margin-bottom: 80px;
  }
  .middle-section .middle-inner .banner-section .banner-caption .banner-title h1 {
    font-size: 44px;
    line-height: 55px;
    margin-bottom: 10px;
  }
  .middle-section .middle-inner .banner-section .banner-caption .down-scroll {
    margin-bottom: 40px;
  }
  .middle-section .middle-inner .partner-section {
    padding: 50px 0;
  }
  .middle-section .middle-inner .partner-section .partner-heading {
    padding-left: 60px;
  }
  .middle-section .middle-inner .partner-section .partner-heading h1 {
    left: -60px;
    font-size: 60px;
    line-height: 74px;
    top: 10px;
  }
  .middle-section .middle-inner .partner-section .partner-heading h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .middle-section .middle-inner .partner-section .partner-heading h2 .hl-space {
    white-space: unset;
  }
  .middle-section .middle-inner .partner-section .partner-heading h2 .heighlight {
    word-break: break-word;
  }
  .middle-section .middle-inner .partner-section .partner-heading h2 .heighlight:after {
    height: 12px !important;
    width: 120% !important;
    left: -4px !important;
  }
  .middle-section .middle-inner .partner-section .partner-heading h2 .heighlight.the:after {
    width: 130% !important;
    left: -3px !important;
  }
  .middle-section .middle-inner .partner-section .partner-heading h2 .heighlight.last:after {
    height: 12px !important;
    width: 103% !important;
    left: -4px !important;
  }
  .middle-section .middle-inner .partner-section .partner-heading h2 .lg-right:after {
    width: 116% !important;
  }
  .middle-section .middle-inner .partner-section .partner-heading h2 .full::after {
    position: absolute;
    content: '';
    width: 100% !important;
  }
  .middle-section .middle-inner .partner-section .partner-heading-bottom h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .middle-section .middle-inner .partner-section .partner-heading-bottom h2 .heighlight:after {
    height: 12px  !important;
  }
  .middle-section .middle-inner .partner-section .owl-carousel .owl-stage {
    padding-left: 0px !important;
    padding-right: 0 !important;
  }
  .middle-section .middle-inner .partner-section .item .col-lg-12 {
    padding: 8px;
  }
  .middle-section .middle-inner .partner-section .desktop-view {
    display: none;
  }
  .middle-section .middle-inner .partner-section .mobile-view {
    display: block;
  }
  .middle-section .middle-inner .partner-section .ring::after {
    width: 80px;
    height: 80px;
    top: -50px;
    z-index: 9;
  }
  .middle-section .middle-inner .partner-section .ring::before {
    width: 80px;
    height: 80px;
    top: -10px;
  }
  .middle-section .middle-inner .case-study-section {
    padding: 50px 0 40px 0;
  }
  .middle-section .middle-inner .case-study-section .mockup-box {
    padding: 0px 0;
  }
  .middle-section .middle-inner .case-study-section .mockup-box img {
    position: relative;
    top: unset;
    width: 100%;
    max-width: 230px;
    display: block;
  }
  .middle-section .middle-inner .case-study-section .row-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .middle-section .middle-inner .case-study-section .case-study-content h1 {
    font-size: 60px;
    line-height: 95px;
  }
  .middle-section .middle-inner .case-study-section .case-study-content h2 {
    font-size: 28px;
    line-height: 35px;
  }
  .middle-section .middle-inner .case-study-section .squre::after {
    width: 60px;
    top: -105px;
  }
  .middle-section .middle-inner .casestudy-dark-section {
    padding: 60px 0;
    overflow: hidden;
  }
  .middle-section .middle-inner .casestudy-dark-section .mockup-box {
    padding: 30px 0;
  }
  .middle-section .middle-inner .casestudy-dark-section .mockup-box img {
    position: relative;
    top: unset;
    bottom: unset;
    width: 100%;
    max-width: 230px;
    display: block;
    min-width: 450px;
    height: auto;
  }
  .middle-section .middle-inner .casestudy-dark-section .row-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .middle-section .middle-inner .casestudy-dark-section .case-study-content h1 {
    font-size: 60px;
    line-height: 95px;
  }
  .middle-section .middle-inner .casestudy-dark-section .case-study-content h2 {
    font-size: 30px;
    line-height: 35px;
  }
  .middle-section .middle-inner .casestudy-dark-section .circle-lg::after {
    height: 400px;
    width: 400px;
    right: -56px;
    top: -10px;
  }
  .middle-section .middle-inner .casestudy-dark-section .circle-sm::before {
    bottom: -60px;
    height: 300px;
    width: 300px;
  }
  .middle-section .middle-inner .casestudy-white-section .mockup-box {
    padding: 30px 0;
  }
  .middle-section .middle-inner .casestudy-white-section .mockup-box img {
    position: relative;
    top: unset;
    width: 100%;
    max-width: 230px;
    display: block;
  }
  .middle-section .middle-inner .casestudy-white-section .row-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .middle-section .middle-inner .our-approch-section {
    padding: 110px 0 80px 0;
    height: 100%;
  }
  .middle-section .middle-inner .our-approch-section .our-approch-heading {
    padding-left: 70px;
    margin-bottom: 40px;
  }
  .middle-section .middle-inner .our-approch-section .our-approch-heading h2 {
    font-size: 60px;
    line-height: 74px;
    left: -110px;
    top: 95px;
  }
  .middle-section .middle-inner .our-approch-section .our-approch-heading h3 {
    font-size: 24px;
    line-height: 40px;
  }
  .middle-section .middle-inner .our-approch-section .approch-content h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .middle-section .middle-inner .our-approch-section .approch-content::after {
    width: 71px;
    height: 6px;
  }
  .middle-section .middle-inner .our-approch-section .ring-2::after {
    background-size: 100%;
    height: 90px;
    width: 130px;
    top: -100px;
  }
  .middle-section .middle-inner .our-approch-section .ring-lg:before {
    background-size: 100%;
    height: 104px;
    width: 150px;
    right: 40px;
    bottom: -130px;
  }
  .middle-section .middle-inner .our-capability-section {
    padding: 60px 0;
    min-height: unset;
  }
  .middle-section .middle-inner .our-capability-section .our-capibilty-content {
    margin-bottom: 50px;
    padding-left: 70px;
  }
  .middle-section .middle-inner .our-capability-section .our-capibilty-content h2 {
    left: -90px;
    font-size: 60px;
    line-height: 74px;
  }
  .middle-section .middle-inner .our-capability-section .our-capibilty-content p {
    font-size: 30px;
    line-height: 40px;
  }
  .middle-section .middle-inner .our-capability-section .our-capibilty-info {
    padding: 30px 0 0 0;
    min-height: 300px;
  }
  .middle-section .middle-inner .our-capability-section .our-capibilty-info .accordian {
    width: 100%;
  }
  .middle-section .middle-inner .our-capability-section .our-capibilty-info .accordian .card {
    background-color: transparent;
    border: 0;
  }
  .middle-section .middle-inner .our-capability-section .our-capibilty-info .accordian .card-header h5 .btn {
    font-size: 21px;
    line-height: 28px;
    padding-right: 30px;
    letter-spacing: -13.33;
  }
  .middle-section .middle-inner .our-capability-section .our-capibilty-info .accordian .card-header h5 .btn::after {
    font-size: 21px;
  }
  .middle-section .middle-inner .our-capability-section .our-capibilty-info .accordian .card-body {
    padding: 10px 12px;
    font-size: 16px;
  }
  .middle-section .middle-inner .our-capability-section .our-capibilty-info .accordian .card-body p {
    margin-bottom: 0;
  }
  .middle-section .middle-inner .our-capability-section .ring-orange::before {
    left: auto;
    top: 200px;
    right: -35px;
    width: 80px;
  }
  .middle-section .middle-inner .casestudy-white-section {
    padding: 40px 0;
  }
  .middle-section .middle-inner .casestudy-white-section .case-study-content h1 {
    font-size: 60px;
    line-height: 95px;
  }
  .middle-section .middle-inner .casestudy-white-section .case-study-content h2 {
    font-size: 30px;
    line-height: 35px;
  }
  .middle-section .middle-inner .casestudy-white-section .mockup-box {
    padding: 0px 0;
  }
  .middle-section .middle-inner .brand-section {
    padding: 30px 0 60px 0;
  }
  .middle-section .middle-inner .brand-section .brand-content {
    margin-bottom: 70px;
  }
  .middle-section .middle-inner .brand-section .brand-content h1 {
    font-size: 60px;
    line-height: 95px;
  }
  .middle-section .middle-inner .brand-section .brand-content h2 {
    font-size: 30px;
  }
  .middle-section .middle-inner .brand-section .band-content {
    padding: 0 20px;
    margin-bottom: 20px;
  }
  .middle-section .middle-inner .brand-section .band-content h3 {
    font-size: 19px;
    line-height: 29px;
  }
  .middle-section .middle-inner .brand-section .brand-box {
    height: 65px !important;
  }
  .middle-section .middle-inner .brand-section .brand-box img {
    width: auto !important;
    max-width: 100%;
    height: 35px !important;
  }
  .middle-section .middle-inner .brand-section .brand-box .img-common {
    height: 30px !important;
  }
  .middle-section .middle-inner .brand-section .brand-box .img-google {
    height: 20px !important;
  }
  .middle-section .middle-inner .brand-section .brand-box .img-amazon {
    height: 20px !important;
  }
  .middle-section .middle-inner .brand-section .brand-box .img-klaviyo {
    height: 30px !important;
  }
  .middle-section .middle-inner .brand-section .brand-box .img-facebook {
    height: 25px !important;
  }
  .middle-section .middle-inner .brand-section .brand-box .img-chat {
    height: 30px !important;
  }
  .middle-section .middle-inner .brand-section .brand-box .img-shopify {
    height: 38px !important;
  }
  .middle-section .middle-inner .brand-section .brand-box .img-rolex {
    height: 35px !important;
  }
  .middle-section .middle-inner .brand-section .brand-box .img-ford {
    height: 35px !important;
  }
  .middle-section .middle-inner .brand-section .brand-box .img-coach {
    height: 23px !important;
  }
  .middle-section .middle-inner .brand-section .brand-box .img-chopard {
    height: 28px !important;
  }
  .middle-section .middle-inner .brand-section .brand-box .img-meetup {
    height: 50px !important;
  }
  .middle-section .middle-inner .brand-section .brand-box .img-adidas {
    height: 30px !important;
  }
  .middle-section .middle-inner .brand-section .ring-orange::after {
    left: auto;
    top: auto;
    bottom: 40px;
    right: -35px;
    width: 80px;
  }
  .middle-section .middle-inner .our-growth-section {
    padding: 80px 0 40px 0;
    background-size: contain;
    background-position: top center;
    background-color: #ffffff;
  }
  .middle-section .middle-inner .our-growth-section .growth-content {
    margin-top: 350px;
    padding: 30px 20px;
    background-color: #ffffff;
  }
  .middle-section .middle-inner .our-growth-section .growth-content .heading-growth h1 {
    font-size: 20px;
    line-height: 26px;
  }
  .middle-section .middle-inner .our-growth-section .growth-tab-section {
    padding-top: 20px;
  }
  .middle-section .middle-inner .our-growth-section .growth-tab-section .nav-tabs {
    margin-bottom: 15px;
  }
  .middle-section .middle-inner .our-growth-section .growth-tab-section .nav-tabs li {
    padding: 5px 0px;
    white-space: nowrap;
  }
  .middle-section .middle-inner .our-growth-section .growth-tab-section .nav-tabs li a {
    display: block;
    padding-right: 20px;
    position: relative;
  }
  .middle-section .middle-inner .our-growth-section .growth-tab-section .nav-tabs li a::after {
    position: absolute;
    right: 5px;
    top: 13px;
    content: "\e9b1";
    font-family: 'Feather' !important;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
  .middle-section .middle-inner .our-growth-section .growth-tab-section .nav-tabs li a.active::after {
    content: "\e996";
    font-weight: 600;
  }
  .middle-section .middle-inner .our-growth-section .growth-tab-section .btn-div-consult {
    text-align: center;
  }
  .middle-section .middle-inner .our-growth-section .round-corner::after {
    display: none;
  }
  .middle-section .middle-inner .banner-inner-section {
    min-height: 500px;
    height: 500px;
    padding: 70px 45px;
  }
  .middle-section .middle-inner .banner-inner-section .banner-heading h2 {
    font-size: 44px;
    line-height: 54px;
  }
  .middle-section .middle-inner .banner-inner-section .banner-heading p {
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 30px;
    font-weight: 300;
  }
  .middle-section .middle-inner .banner-inner-section.bg-contact {
    padding: 70px 20px;
  }
  .middle-section .middle-inner .current-positon-section .heading-inner {
    margin-bottom: 20px;
  }
  .middle-section .middle-inner .current-positon-section .heading-inner h1 {
    display: none;
  }
  .middle-section .middle-inner .current-positon-section .heading-inner h2 {
    line-height: 24px;
    margin-bottom: 0;
  }
  .middle-section .middle-inner .current-positon-section .job-list {
    padding: 10px 0;
  }
  .middle-section .middle-inner .current-positon-section .job-list h3 {
    font-size: 24px;
    color: #181818;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 0;
  }
  .middle-section .middle-inner .current-positon-section .job-list .job-info ul li {
    font-size: 18px;
    color: #7D7D7D;
    letter-spacing: 0;
    line-height: 30px;
    display: none;
  }
  .middle-section .middle-inner .current-positon-section .job-list .job-info ul li:first-child {
    display: block;
  }
  .middle-section .middle-inner .current-positon-section .job-list .job-info .btn-round {
    position: relative;
    top: -20px;
  }
  .middle-section .middle-inner .why-mediafy-section .mediafy-content h1 {
    border: 0 solid rgba(125, 125, 125, 0.7);
    font-size: 69px;
    color: rgba(255, 255, 255, 0);
    letter-spacing: 0;
    line-height: 74px;
  }
  .middle-section .middle-inner .why-mediafy-section .mediafy-content h2 {
    font-size: 30px;
    color: #2C2B30;
    letter-spacing: 0;
    margin-bottom: 5px;
  }
  .middle-section .middle-inner .why-mediafy-section .mediafy-content-info {
    padding: 20px 0 0 0;
  }
  .middle-section .middle-inner .why-mediafy-section .mediafy-content-info p {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 32px;
  }
  .middle-section .middle-inner .ourwork-section .ourwork-content {
    padding: 40px 0 0 0;
  }
  .middle-section .middle-inner .ourwork-section .ourwork-content h3 {
    font-size: 26px;
    color: #2C2B30;
    letter-spacing: 0;
    line-height: 32px;
  }
  .middle-section .middle-inner .ourwork-section .ourwork-content p {
    font-size: 14px;
    color: #7D7D7D;
    letter-spacing: 0;
    line-height: 24.06px;
  }
  .middle-section .middle-inner .bg-career {
    background-position: 10% 100%;
  }
  .middle-section .middle-inner .bg-contact {
    background-image: url(../images/bg-mobile-contact.png) !important;
  }
  .middle-section .middle-inner .career-detail .job-info-deatil ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .middle-section .middle-inner .career-detail .job-info-deatil ul li {
    text-align: left;
    font-size: 18px;
    border-right: 0;
  }
  .middle-section .middle-inner .talent-content h1 {
    display: none;
  }
  .middle-section .middle-inner .apply-form-section .apply-form-content {
    padding: 60px 40px;
  }
  .middle-section .middle-inner .our-approch-list {
    padding-left: 60px;
  }
  .middle-section .middle-inner .case-study-section .mockup-box {
    padding: 0;
  }
  .ring-orange-footer {
    position: relative;
  }
  .ring-orange-footer::before {
    width: 91px;
    height: 130px;
    bottom: 340px;
  }
  .footer-home.footer-section {
    overflow: hidden;
    padding-top: 200px;
  }
  .footer-home.footer-section .circle-lg::after {
    height: 400px;
    width: 400px;
    right: -56px;
    top: -10px;
    opacity: 0.7;
  }
  .footer-home.footer-section .circle-sm::before {
    bottom: -60px;
    height: 300px;
    width: 300px;
    opacity: 0.6;
  }
  .footer-home.footer-section .wanto-work {
    margin-bottom: 150px;
    padding: 0 30px;
  }
  .footer-home.footer-section .wanto-work h2 {
    font-size: 35px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
  }
  .footer-section .footer-content {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .footer-section .footer-content ul li {
    text-align: center;
  }
  .footer-section .copyright p {
    font-size: 10px;
    line-height: 30px;
  }
  .footer-section .copyright {
    padding: 25px 0 35px 0;
  }
  .footer-section .copyright .row-custom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .footer-section .copyright .row-custom .col-custom {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .footer-section .copyright .row-custom .col-custom p {
    text-align: center;
  }
  .footer-section .copyright .quick-links {
    text-align: center;
  }
  .footer-section .copyright .quick-links ul {
    display: block;
    width: 100%;
  }
  .footer-section .copyright .quick-links ul li {
    display: inline;
    padding: 0 5px;
  }
  .footer-section .copyright .quick-links ul li a {
    font-size: 10px;
    font-weight: 400;
    color: #000000;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .navbar-expand-md .navbar-toggler {
    display: block;
  }
  .header .navbar {
    z-index: 999;
  }
  .header .navbar .collapse1 {
    display: block;
  }
  .header .navbar .collapse1 .navbar-nav {
    display: inline-block;
    margin-left: 0 !important;
    padding-bottom: 30px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 16px;
    line-height: 26px;
    padding: 8px 12px;
    font-weight: 500;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 830px;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #ffffff;
    padding: 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 35%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #000000;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #000000;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    display: block;
    -webkit-text-stroke: 2px #ffffff;
  }
  .middle-section .middle-inner .case-study-section .case-study-content h2 {
    font-size: 35px;
  }
  .middle-section .middle-inner .partner-section .partner-heading {
    padding-left: 80px;
  }
  .middle-section .middle-inner .partner-section .partner-heading h1 {
    left: -80px;
    top: 10px;
  }
  .middle-section .middle-inner .partner-section .partner-heading-bottom {
    margin-top: 20px;
  }
  .middle-section .middle-inner .partner-section .desktop-view {
    display: none;
  }
  .middle-section .middle-inner .partner-section .mobile-view {
    display: block;
  }
  .middle-section .middle-inner .partner-section .ring::before {
    width: 80px;
    top: -95px;
  }
  .middle-section .middle-inner .partner-section .ring::after {
    width: 80px;
    top: -60px;
    z-index: 9;
  }
  .middle-section .middle-inner .case-study-section .mockup-box {
    padding: 30px 0 0 0;
  }
  .middle-section .middle-inner .case-study-section .mockup-box img {
    position: unset;
  }
  .middle-section .middle-inner .casestudy-dark-section .mockup-box {
    padding: 30px 0 0 0;
  }
  .middle-section .middle-inner .casestudy-dark-section .mockup-box img {
    position: relative;
    left: 0;
    top: 0;
  }
  .middle-section .middle-inner .casestudy-dark-section .circle-lg::after {
    height: 500px;
    width: 500px;
    right: -56px;
    top: -10px;
  }
  .middle-section .middle-inner .casestudy-dark-section .circle-sm::before {
    bottom: -60px;
    height: 400px;
    width: 400px;
  }
  .middle-section .middle-inner .our-approch-section {
    padding: 120px 0;
  }
  .middle-section .middle-inner .our-approch-section .our-approch-heading {
    margin-bottom: 160px;
    padding-left: 80px;
  }
  .middle-section .middle-inner .our-approch-section .our-approch-heading h2 {
    left: -150px;
    top: 70px;
    position: absolute;
  }
  .middle-section .middle-inner .our-approch-section .ring-2::after {
    top: -105px;
    left: 110px;
  }
  .middle-section .middle-inner .our-approch-section .ring-lg::before {
    background-size: 100%;
    width: 120px;
    bottom: -240px;
  }
  .middle-section .middle-inner .our-capability-section {
    padding: 100px 0 200px 0;
  }
  .middle-section .middle-inner .our-capability-section .our-capibilty-content {
    padding-left: 90px;
    margin-bottom: 90px;
  }
  .middle-section .middle-inner .our-capability-section .our-capibilty-content h2 {
    left: -120px;
    top: 50px;
  }
  .middle-section .middle-inner .our-capability-section .ring-orange::before {
    width: 98px;
  }
  .middle-section .middle-inner .casestudy-white-section .mockup-box {
    padding-top: 60px;
  }
  .middle-section .middle-inner .casestudy-white-section .mockup-box img {
    position: unset;
    max-width: unset !important;
    width: 100%;
  }
  .middle-section .middle-inner .our-capability-section {
    height: 100%;
    min-height: auto;
  }
  .middle-section .middle-inner .brand-section .ring-orange::after {
    width: 98px;
  }
  .middle-section .middle-inner .our-growth-section {
    background-size: 81%;
    padding: 100px 0;
  }
  .middle-section .middle-inner .our-growth-section .growth-content {
    padding: 40px 30px;
  }
  .middle-section .middle-inner .our-growth-section .growth-content .heading-growth h1 {
    font-size: 36px;
  }
  .middle-section .middle-inner .our-growth-section .growth-tab-section .nav-tabs {
    margin-bottom: 30px;
  }
  .middle-section .middle-inner .current-positon-section .heading-inner {
    margin-bottom: 20px;
  }
  .middle-section .middle-inner .current-positon-section .heading-inner h1 {
    display: none;
  }
  .middle-section .middle-inner .current-positon-section .job-list {
    padding: 20px 0;
  }
  .middle-section .middle-inner .current-positon-section .job-list h3 {
    line-height: 30px;
  }
  .middle-section .middle-inner .current-positon-section .job-list .job-info ul li {
    font-size: 20px;
    line-height: 30px;
  }
  .middle-section .middle-inner .why-mediafy-section .mediafy-content-info {
    padding: 40px 0 50px 0;
  }
  .middle-section .middle-inner .why-mediafy-section .mediafy-content-info p {
    font-size: 26px;
    line-height: 45px;
  }
  .middle-section .middle-inner .ourwork-section .img-ourwork img {
    width: 100%;
  }
  .middle-section .middle-inner .career-detail .job-info-deatil ul li {
    font-size: 16px;
  }
  .middle-section .middle-inner .apply-form-section .apply-form-content {
    padding: 80px 60px;
  }
  .footer-section .copyright .quick-links ul li {
    padding: 0 20px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header .navbar .collapse1 .navbar-nav .nav-item .nav-link {
    font-size: 12px;
    line-height: 22x;
    padding: 8px 10px;
    font-weight: 500;
  }
  .middle-section .middle-inner .partner-section .partner-heading {
    padding-left: 90px;
  }
  .middle-section .middle-inner .partner-section .partner-heading h1 {
    left: -80px;
    top: 10px;
  }
  .middle-section .middle-inner .partner-section .partner-heading-bottom {
    margin-top: 20px;
  }
  .middle-section .middle-inner .our-growth-section {
    padding: 100px 0;
  }
  .middle-section .middle-inner .our-growth-section .growth-content {
    padding: 50px;
  }
  .middle-section .middle-inner .our-growth-section .growth-content .heading-growth h1 {
    font-size: 36px;
  }
  .middle-section .middle-inner .our-approch-section .approch-content h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .middle-section .middle-inner .our-approch-section .our-approch-heading {
    margin-bottom: 160px;
    padding-left: 100px;
  }
  .middle-section .middle-inner .our-approch-section .our-approch-heading h2 {
    left: -150px;
    top: 25px;
    position: absolute;
  }
  .middle-section .middle-inner .our-approch-section .ring-2::after {
    top: -170px;
    left: 110px;
  }
  .middle-section .middle-inner .our-capability-section .our-capibilty-content {
    padding-left: 0;
  }
  .middle-section .middle-inner .our-capability-section .our-capibilty-content h2 {
    -webkit-transform: none;
            transform: none;
    position: unset;
  }
  .middle-section .middle-inner .casestudy-dark-section .circle-lg::after {
    height: 600px;
    width: 600px;
    right: -56px;
    top: -10px;
  }
  .middle-section .middle-inner .casestudy-dark-section .circle-sm::before {
    bottom: -60px;
    height: 400px;
    width: 400px;
  }
  .middle-section .middle-inner .current-positon-section .heading-inner {
    margin-bottom: 20px;
  }
  .middle-section .middle-inner .current-positon-section .heading-inner h1 {
    display: none;
  }
  .middle-section .middle-inner .current-positon-section .job-list {
    padding: 20px 0;
  }
  .middle-section .middle-inner .current-positon-section .job-list h3 {
    line-height: 30px;
  }
  .middle-section .middle-inner .current-positon-section .job-list .job-info ul li {
    font-size: 20px;
    line-height: 30px;
  }
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .header .navbar .collapse1 .navbar-nav .nav-item {
    padding: 0 20px;
  }
  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
    display: none;
    z-index: 99999;
  }
  .sidenav-new-menu {
    height: 100%;
    min-height: 830px;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999999;
    background-color: #ffffff;
    padding: 20px 0px !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .width-menu {
    width: 30%;
    display: block !important;
  }
  .closebtn {
    display: block !important;
    color: #000000;
    text-decoration: none;
  }
  .closebtn:hover {
    display: block;
    color: #000000;
    text-decoration: none;
  }
  .sidenav-new-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    display: block;
    -webkit-text-stroke: 2px #ffffff;
  }
  .middle-section .middle-inner .our-approch-section .approch-content h2 {
    font-size: 27px;
    line-height: 37px;
  }
}

@media (max-width: 1280px) and (min-width: 990px) {
  .middle-section .middle-inner .our-approch-section .approch-content h2 {
    font-size: 26px;
    line-height: 36px;
  }
}

@media (min-width: 1920px) {
  .middle-section .middle-inner .banner-section .banner-caption .banner-title {
    margin-bottom: 119px;
  }
}

@media screen and (max-device-width: 767px) and (orientation: landscape) {
  .middle-section .middle-inner .casestudy-dark-section .mockup-box img {
    min-width: 450px;
    margin-left: 300px;
  }
}

@media screen and (max-device-width: 767px) and (min-width: 600px) {
  .middle-section .middle-inner .partner-section .owl-carousel .owl-stage {
    padding-left: 0px !important;
  }
}

@media (max-width: 996px) and (min-width: 768px) {
  .desktop-view {
    display: none !important;
  }
  .mobile-view {
    display: block !important;
  }
}

.middle-section .middle-inner .reveal-bg-1 {
  background-color: rgba(44, 43, 48, 0.5) !important;
}

.middle-section .middle-inner .reveal-bg-1.visible {
  background-color: #2C2B30 !important;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.middle-section .middle-inner .reveal-bg-2 {
  background-color: rgba(242, 242, 242, 0.5);
}

.middle-section .middle-inner .reveal-bg-2.visible {
  background-color: #f2f2f2 !important;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.middle-section .middle-inner .reveal-bg-3 {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.middle-section .middle-inner .reveal-bg-3.visible {
  background-color: white !important;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.middle-section .middle-inner .casestudy-dark-section.reveal-bg-4 {
  background-color: rgba(44, 43, 48, 0.5) !important;
}

.middle-section .middle-inner .casestudy-dark-section.reveal-bg-4.visible {
  background-color: #2d2c30 !important;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.middle-section .middle-inner .reveal-bg-5 {
  background-color: rgba(250, 239, 228, 0.5);
}

.middle-section .middle-inner .reveal-bg-5.visible {
  background-color: #FAEFE4 !important;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.middle-section .middle-inner .reveal-bg-6 {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.middle-section .middle-inner .reveal-bg-6.visible {
  background-color: #ffffff !important;
  -webkit-transition: all 0.8;
  transition: all 0.8;
}

.middle-section .middle-inner .reveal-bg-7 {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.middle-section .middle-inner .reveal-bg-7.visible {
  background-color: #ffffff !important;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.middle-section .middle-inner .reveal-bg-8 {
  background-color: rgba(242, 242, 242, 0.5);
}

.middle-section .middle-inner .reveal-bg-8.visible {
  background-color: #f2f2f2 !important;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.footer-home.footer-section.reveal-footer {
  background-color: rgba(44, 43, 48, 0.5) !important;
}

.footer-home.footer-section.reveal-footer.visible {
  background-color: #2c2b30 !important;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

@media (min-width: 925px) and (max-width: 1200px) {
  .middle-section .middle-inner .partner-section .partner-heading h2 span.heighlight::after {
    width: 115% !important;
  }
  .middle-section .middle-inner .partner-section .partner-heading h2 span.full::after {
    width: 104% !important;
  }
  .middle-section .middle-inner .partner-section .partner-heading h2 span.heighlight.last::after {
    width: 105% !important;
    left: -10px !important;
  }
}

@media (min-device-width: 768px) and (max-device-width: 1140px) {
  .middle-section .middle-inner .partner-section .partner-heading h2 .lg-right:after {
    width: 116% !important;
  }
}
/*# sourceMappingURL=custom.css.map */